
{% block formBase %}

<h1>Esto es {{ typeAction }} de Ingresos y Gastos</h1>


<form action="">
    <label for="fecha">Fecha</label>
    <input type="date" name = "fecha", placeholder="Ingreses fecha">
    <br>
    <label for="concepto">Concepto</label>
    <input type="text", name = "concepto", placeholder="Ingrese concepto">
    <br>
    <label for="cantidad">Cantidad</label>
    <input type="number", name = "cantidad", placeholder="Ingrese cantidad", value="100">
    <br>
    <button onclick="alert('Ya lo guardaste, gracias')">{{butonAction}}</button>
</form>

<a href="/">Volver</a>


{% endblock %}