{% extends "base.html" %}
{% block pageBase %}

<h1>Esto es {{ typeAction }} de Ingresos y Gastos</h1>


<form action={{urlForm}} method="post">
    <label for="date">Fecha</label>
    <input type="date" name = "date" value="{{ dataForm.date }}" required>
    <br>
    <label for="concept">Concepto</label>
    <input type="text" name = "concept" placeholder="Ingrese concepto" value="{{ dataForm.concept }}">
    <br>
    <label for="quantity">Cantidad</label>
    <input type="number" name = "quantity" placeholder="Ingrese cantidad" step ="0.01" value="{{ dataForm.quantity }}">
    <br>
    <button type='submit'>{{typeButon}}</button>
</form>

<a href="/">Volver</a>

<article >
    <ul >
        {% for item in msError %}
        <li>{{item}}</li>
        {% endfor %}

    </ul>
</article>

{% endblock %}