{% extends "base.html" %}
{% block pageBase %}

<h1>Esto es {{ typeAction }} de Ingresos y Gastos</h1>


<form action="/new" method="post">
    <label for="fecha">Fecha</label>
    <input type="date" name = "fecha" required>
    <br>
    <label for="concepto">Concepto</label>
    <input type="text", name = "concepto", placeholder="Ingrese concepto" required>
    <br>
    <label for="cantidad">Cantidad</label>
    <input type="number", name = "cantidad", placeholder="Ingrese cantidad", value="100" required>
    <br>
    <button type='submit'>{{butonAction}}</button>
</form>

<a href="/">Volver</a>


{% endblock %}