
{% extends "base.html" %}
{% block pageBase %}
        <h1> Lista de ingresos y gastos</h1>
        <p> Simulacro de contabilidad</p>
        <p>{{Lista}}</p>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                    <tr>
                        <td>{{item.fecha}}</td>
                        <td>{{item.concepto}}</td>
                        <td>{{item.cantidad}}€</td>
                    </tr>
                {% endfor %}
                    
                
                <tr>
                    <td>18/12/2022</td>
                    <td>Regalo</td>
                    <td>-275,60</td>
                </tr>
                <tr>
                    <td>25/12/2022</td>
                    <td>Nomina</td>
                    <td>1500</td>
                </tr>
            </tbody>               
        </table>
        <a href="/new">Nuevo registro</a>
{% endblock %}
   