<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-gastos:lista</title>
</head>

<style>
    table, th, td {
        border:1px, solid rgb(red, green, blue)
    }
</style>
<body>
    <header>
        <h1> Aplicación flask de bz xiii</h1>

    </header>

    <section>
        <h1> Lista de ingresos y gastos</h1>
        <p> Simulacro de contabilidad</p>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>18/12/2022</td>
                    <td>Regalo</td>
                    <td>-275,60</td>
                </tr>
                <tr>
                    <td>25/12/2022</td>
                    <td>Nomina</td>
                    <td>1500</td>
                </tr>
            </tbody>
                
        </table>

        <a href="/new">Nuevo registro</a>
    </section>

    <footer>
       <p>derechos de autor</p>


    </footer>
    
    
</body>
</html>