{% extends "base.html" %}

{% block pageBase %}


<h1>Esto es la vista para editar el regitro</h1>
        
<h1>Esto seria para crear un registro</h1>
<form action="">
    <label for="fecha">Fecha</label>
    <input type="date" name = "fecha">
    <br>
    <label for="concepto">Concepto</label>
    <input type="text", name = "concepto", placeholder="Ingrese concepto">
    <br>
    <label for="cantidad">Cantidad</label>
    <input type="number", name = "cantidad", placeholder="Ingrese cantidad", value="100">
    <br>
    <button>Guardar</button>
</form>

<a href="/">Volver</a>

{% endblock %}